* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  background-image: url(bac.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.head {
  max-width: 1200px;
  margin: auto;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head button {
  color: white;
  background-color: #23A6F0;
  border: none;
  padding: 10px 20px;
}
.head .icons {
  display: none;
}
.head .navmed {
  display: none;
}

header .heads {
  color: white;
  display: flex;
  align-items: center;
  gap: 150px;
}
header .heads nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.head1 {
  max-width: 1200px;
  margin: auto;
  padding: 100px 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head1 .headtext {
  display: flex;
  align-items: start;
  flex-direction: column;
  color: white;
  gap: 40px;
}
.head1 h1 {
  font-size: 65px;
}
.head1 p {
  width: 60%;
}
.head1 .bt1 {
  border: none;
  background-color: #23A6F0;
  padding: 10px 15px;
  border-radius: 10px;
}
.head1 .bt2 {
  border: 2px solid white;
  background: none;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
}

.inputs {
  width: 25%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 40px 30px;
  border-radius: 10px;
}
.inputs h3 {
  align-self: center;
}
.inputs input {
  border: 2px solid rgba(0, 0, 0, 0.199);
  padding: 10px 80px 10px 20px;
  background-color: #F9F9F9;
}
.inputs select {
  width: 120%;
  border: 2px solid rgba(0, 0, 0, 0.199);
  padding: 10px 90px 10px 20px;
  background-color: #F9F9F9;
}
.inputs button {
  background-color: #23A6F0;
  width: 100%;
  border: none;
  padding: 15px 0px;
  color: white;
}

.headermedia {
  display: none;
}

.sec1 {
  max-width: 1200px;
  margin: 120px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
.sec1 .sec1text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.sec1 .grid {
  width: 100%;
  display: grid;
  grid-template-rows: 50vh;
  gap: 20px;
  grid-template-columns: repeat(3, 32%);
}
.sec1 .item {
  padding: 0px 0px 40px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sec1 .pp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  border: 2px solid #8EC2F2;
  border-radius: 5px;
  padding: 20px 0px;
}
.sec1 .ic {
  padding: 15px 0px;
  width: 100%;
  background-color: #8EC2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.sec2 {
  max-width: 1200px;
  margin: 300px auto 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
.sec2 .grid2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 28%);
  gap: 20px;
  justify-content: center;
}
.sec2 .sec2text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center !important;
}
.sec2 .item2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding: 5% 40px;
  border: 2px solid black;
}

.sec4 {
  max-width: 1200px;
  margin: 0px auto 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.sec4 .grid4 {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3);
  grid-template-columns: repeat(3, 33%);
  gap: 30px;
}
.sec4 .gridd {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5% 10%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.268);
}
.sec4 i {
  color: #23A6F0;
  font-size: 25px;
}

.sec2text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center !important;
}

@media (max-width: 500px) {
  header {
    display: none;
  }
  .headermedia {
    width: 100;
    background-image: url(bacmed.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }
  .headermedia .medtext {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .headermedia .t1 {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 15px 0px;
    margin: auto;
    justify-content: space-between;
  }
  .headermedia .icons {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .headermedia .navmed {
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 70px 0px;
    font-size: 25px;
  }
  .head1med {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .headtext {
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    color: white;
  }
  .butts {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .bt1 {
    border: none;
    background-color: #23A6F0;
    padding: 10px 30px;
    border-radius: 10px;
  }
  .bt2 {
    border: 2px solid white;
    background: none;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
  }
  .inputs {
    margin: 100px auto;
    padding: 10%;
    width: 70%;
  }
  input, select {
    padding: 0;
  }
  .sec1 {
    width: 90%;
    margin: 50px auto;
    gap: 30px;
  }
  .grid {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .item {
    width: 100%;
  }
  .sec2 {
    width: 90%;
    margin: 50px auto;
  }
  .sec2 .sec2text {
    text-align: center;
  }
  .sec2 .grid2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .sec2 .item2 {
    width: 80%;
  }
  .sec4 {
    width: 90%;
    margin: 50px auto;
  }
  .grid4 {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
  }
  .gridd {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */